<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.okaylens.fqc">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    
    <!--Micphone permission -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> 

    <!-- 连接互联网Internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 设置常亮 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> 
    <!-- audio权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> 
    <!-- 读取外部 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 以下是使用wifi访问网络所需的权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>

    <uses-feature android:name="android.hardware.sensor.gyroscope"/>          
        




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">

        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.AutoAct"/>
        <activity android:name=".ui.BluetoothAct"/>
        <activity android:name=".ui.CameraAct"/>
        <activity android:name=".ui.DevicesInfoAct"/>
        <activity android:name=".ui.FirmwareAct"/>
        <activity android:name=".ui.GpsAct"/>
        <activity android:name=".ui.MicphoneAct"/>
        <activity android:name=".ui.SensorsAct"/>
        <activity android:name=".ui.TouchAct"/>
        <activity android:name=".ui.WifiAct"/>
        <activity android:name=".ui.SpeakerAct"/>
        <activity android:name=".ui.HeadSetAct"/>
    </application>

</manifest>